.design-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 25px;
}

.design-card {
  width: 30%;
  margin: 20px;
  position: relative;
}

.position-0 {
  transform: translateY(-30px);
}

.position-1 {
  transform: translateY(0px);
}

.position-2 {
  transform: translateY(30px);
}
